
@page

@model ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<h1>@ViewData["Title"]</h1>

<address >
    <p><strong>Леонид Коноплин</strong></p>
    <ul>
        <li>
            <a href="mailto:konoplin.l@mail.ru">konoplin.l@mail.ru</a>
        </li>
        <li>
            <a href="tel:8-918-151-74-47">8-918-151-74-47</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/%D0%BB%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4-%D0%BA%D0%BE%D0%BD%D0%BE%D0%BF%D0%BB%D0%B8%D0%BD-316035126">LinkedIn</a>
        </li>
        <li>
            <a href="https://github.com/777LK777">GitHub</a>
        </li>
    </ul>
</address>